div.Red{
    outline-style: solid;
    outline-color: red;
    outline-width: 2px;
    float: left;
}
div.Orange{
    outline-style: solid;
    outline-color: Orange;
    outline-width: 2px;
    float: left;
}
div.Yellow{
    outline-style: solid;
    outline-color: Yellow;
    outline-width: 2px;
    float: left;
}
div.Lime{
    outline-style: solid;
    outline-color: lime;
    outline-width: 2px;
    float: left;
}
div.Green{
    outline-style: solid;
    outline-color: green;
    outline-width: 2px;
    float: left;
}
div.Light_Blue{
    outline-style: solid;
    outline-color: lightblue;
    outline-width: 2px;
    float: left;
}
div.Blue{
    outline-style: solid;
    outline-color: blue;
    outline-width: 2px;
    float: left;
}
div.Purple{
    outline-style: solid;
    outline-color: purple;
    outline-width: 2px;
    float: left;
}
div.Magenta{
    outline-style: solid;
    outline-color: magenta;
    outline-width: 2px;
    float: left;
}
div.Pink{
    outline-style: solid;
    outline-color: pink;
    outline-width: 2px;
    float: left;
}